#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* 
.title {
  margin-top: 10px;
} */

#firenet {
  margin-block-start: 0em;
  margin-block-end: 0em;
}


@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 40%,
        16% 38%,
        33% 45%,
        54% 55%,
        70% 56%,
        84% 54%,
        100% 47%,
        100% 100%,
        0% 150%);
  }

  50% {
    clip-path: polygon(0% 55%,
        15% 60%,
        34% 61%,
        51% 57%,
        67% 45%,
        84% 40%,
        100% 41%,
        100% 100%,
        0% 150%);
  }
}

.title {
  position: relative;
}

.title h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: -7px;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 4px;
  font-size: 80px;
}

.title h1:nth-child(1) {
  color: white;
  /* -webkit-text-stroke: 2px #00aeff; */
}

.title h1:nth-child(2) {
  margin-top: -208px;
  color: #83bfff;
  animation: animate 4s ease-in-out infinite;
}
